body
{
	text-align: center;
	background: rgb(255, 115, 0);
}
span
{
	font-size: 18px;
	color: rgb(255, 0, 0);
}
canvas
{
	background: rgb(255, 154, 38);
	border-radius: 20px;
}
h3{
	color:rgb(255, 0, 0);
}